@import 'tailwindcss/base';

@font-face {
  font-weight: 200 900;
  font-family: 'Mona Sans';
  font-stretch: 75% 125%;
  src: url('/fonts/Mona-Sans.woff2') format('woff2 supports variations'),
    url('/fonts/Mona-Sans.woff2') format('woff2-variations');
}
