@import 'tailwindcss/base';

@font-face {
  font-weight: 400;
  font-family: 'Chakra Petch';
  font-style: normal;
  font-display: swap;
  src: url('/fonts/ChakraPetch-Regular.woff2') format('woff2'),
    url('/fonts/ChakraPetch-Regular.woff') format('woff');
}

@font-face {
  font-weight: 700;
  font-family: 'Chakra Petch';
  font-style: normal;
  font-display: swap;
  src: url('/fonts/ChakraPetch-Bold.woff2') format('woff2'),
    url('/fonts/ChakraPetch-Bold.woff') format('woff');
}

@font-face {
  font-weight: 400;
  font-family: Rajdhani;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Rajdhani-Regular.woff2') format('woff2'),
    url('/fonts/Rajdhani-Regular.woff') format('woff');
}
