.alert {
  @apply fixed right-4 bottom-2 z-50 hidden rounded-xl p-6 text-white;

  &-success {
    @apply bg-green-500;
  }

  &-fail {
    @apply bg-red-500;
  }
}

.header {
  @apply absolute inset-x-0 top-0 z-50 bg-black/75 py-4 text-white;

  @supports (backdrop-filter: blur(16px)) {
    backdrop-filter: blur(16px);
  }
}

.header-row {
  @apply flex items-center justify-between;
}

.header-row-logo {
  @apply block;

  > svg {
    @apply h-12 w-10 text-red-500;
  }
}

.header-row-nav {
  @apply absolute inset-x-0 top-full hidden flex-col gap-4 bg-black px-8 pb-8;

  @screen lg {
    @apply static flex flex-row items-center bg-transparent p-0 text-sm;
  }

  @screen xl {
    @apply gap-x-8;
  }

  > a {
    @apply font-medium;
  }

  &.active {
    @apply flex;
  }
}

.header-row-social {
  @apply hidden;

  @screen lg {
    @apply flex gap-x-4 text-aqua;
  }

  > a {
    @apply text-xl;
  }
}

.header-mobile-button {
  @apply rounded-md p-1;

  @screen lg {
    @apply hidden;
  }

  > svg {
    @apply h-6 w-6;
  }
}

.aspect-ratio-video {
  position: relative;
  padding-bottom: calc((9 / 16) * 100%);

  > * {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.landing-page {
  @apply min-h-screen bg-black;
}
