.features-grid {
  @apply grid grid-cols-1 gap-8 md:grid-cols-2 md:items-center;
}

.section-one,
.section-two,
.section-three,
.section-four,
.section-five,
.section-six,
.section-seven,
.section-nine,
.section-ten,
.section-eleven {
  position: relative;
  padding-bottom: 10rem !important;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
}

.section-two,
.section-seven,
.section-ten {
  background-color: #fff;
}

.section-two {
  z-index: 8;
}

.section-three {
  z-index: 7;
}

.section-four {
  z-index: 6;
}

.section-five {
  z-index: 5;
}

.section-six {
  z-index: 4;
}

.section-seven {
  z-index: 3;
}

.section-nine {
  z-index: 2;
}

.section-ten {
  z-index: 1;
}

.section-three,
.section-four,
.section-five,
.section-six,
.section-seven,
.section-eight,
.section-ten,
.section-eleven,
.section-twelve {
  margin-top: -11rem;
  padding-top: 11rem;
}
