@import 'base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* .btn {
  padding: 0.5rem 1.25rem;
  color: theme('colors.white');
  font-size: theme('fontSize.sm[0]');
  line-height: theme('fontSize.sm.1.lineHeight');
  letter-spacing: theme('letterSpacing.wide');
  text-transform: uppercase;
  border-radius: theme('borderRadius.full');
  background-color: theme('colors.black');
  user-select: none;
} */
