@import 'abstracts/screens';

/*! purgecss start ignore */
@import 'base';

/*! purgecss end ignore */

@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#hero {
  min-height: theme('minHeight.screen');
  background-image: url('/images/01.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  > div {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    min-height: inherit;
  }
}

.title {
  font-weight: theme('fontWeight.bold');
  font-size: 2rem;
  line-height: 1.25;
  letter-spacing: theme('letterSpacing.tight');
}
