// Typography
$sans-family: 'Inter var', ui-sans-serif, system-ui, -apple-system, blinkmacsystemfont, 'Segoe UI',
  roboto, 'Helvetica Neue', arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol', 'Noto Color Emoji';
$serif-family: ui-serif, georgia, cambria, 'Times New Roman', times, serif;
$mono-family: ui-monospace, sfmono-regular, menlo, monaco, consolas, 'Liberation Mono',
  'Courier New', monospace;

// Breakpoints
$sm-breakpoint: 640px;
$md-breakpoint: 768px;
$lg-breakpoint: 1024px;
$xl-breakpoint: 1280px;
$xxl-breakpoint: 1536px;

// Container
$container-breakpoints: (
  $sm-breakpoint,
  $md-breakpoint,
  $lg-breakpoint,
  $xl-breakpoint,
  $xxl-breakpoint
);

// Colors
$white: #fff;
$black: #000;

// Document
$body-bg-color: $white;
$body-text-color: $black;
