---
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout title="Meta Savages">
  <main>
    <section id="hero">
      <div>
        <h1 class="title w-full text-center">Coming soon</h1>
      </div>
    </section>
  </main>
</MainLayout>
