---
import MainLayout from '../layouts/MainLayout.astro'
import Header from '../components/Header/Header.astro'
import MetaIsland from '../backgrounds/MetaIsland.astro'
import Container from '../components/Container.astro'
---

<MainLayout name="Meta Savages" suffix="The Web 3.0 tribe for digital entrepreneurs">
  <Header />

  <main>
    <section class="relative min-h-[768px] overflow-hidden">
      <MetaIsland />
      <div class="relative flex min-h-inherit flex-row items-center justify-center">
        <h1 class="title w-full text-center font-display">Coming Soon</h1>
      </div>
    </section>

    <section class="relative overflow-hidden">
      <MetaIsland />
      <div class="relative py-8">
        <div class="relative mb-8 sm:mb-16">
          <h1
            class="text-center font-display text-2xl font-bold text-secondary md:text-3xl lg:text-4xl"
          >
            Metasavages Metaverse
          </h1>

          <div
            class="pointer-events-none absolute top-1/2 left-1/2 z-10 w-full min-w-[320px] max-w-2xl -translate-x-1/2 -translate-y-1/2 select-none"
          >
            <div class="relative">
              <img src="/svg/metasavages-metaverse.svg" alt="" />
              <div
                class="absolute right-2.5 -bottom-0.5 font-display text-2xl font-bold sm:right-3 sm:bottom-0 sm:text-4xl md:right-4 md:bottom-0.5"
              >
                01
              </div>
            </div>
          </div>
        </div>

        <div
          class="relative mx-auto grid max-w-screen-md grid-cols-1 gap-4 px-8 lg:max-w-screen-lg lg:grid-cols-2 lg:gap-8"
        >
          <div class="text-lg">
            <p class="mb-4">
              Your gateway to the future. Attend epic world-class events, collect NFT's and rewards,
              explore island's environments and be a part of the tribe. With the help of the
              revolutionary blockchain technology and the game engine power of Unity, Metasavages
              have harnessed the potential of web 3.0 which has enabled us to create a secure and
              immersive platform to create natural human interaction that could be accessed from any
              device at any time.
            </p>
            <p>
              <span class="font-bold">Framework</span>
              <br />
              Your island of adventures
              <br />
              Pioneering Learn-To-Earn NFT's
              <br />
              and Item Ownership 10
              <br />
              playable characters
            </p>
          </div>

          <div>
            <div class="aspect-h-9 aspect-w-16">
              <div class="bg-zinc-700"></div>
            </div>
          </div>
        </div>

        <div class="relative mb-8 mt-24">
          <h1
            class="text-center font-display text-2xl font-bold text-secondary md:text-3xl lg:text-4xl"
          >
            Map of Metaverse Island
          </h1>

          <div
            class="pointer-events-none absolute top-1/2 left-1/2 z-10 w-full min-w-[320px] max-w-2xl -translate-x-1/2 -translate-y-1/2 select-none"
          >
            <div class="relative">
              <img src="/svg/map-of-metaverse-island.svg" alt="" />
              <div
                class="absolute top-0 left-1.5 font-display text-2xl font-bold sm:top-1 sm:left-2 sm:text-4xl md:top-1.5 md:left-2.5"
              >
                02
              </div>
            </div>
          </div>
        </div>

        <div class="mx-auto mt-16 max-w-screen-lg px-8">
          <div class="aspect-h-9 aspect-w-16">
            <div class="bg-zinc-700"></div>
          </div>
        </div>

        <div class="mx-auto mt-8 grid max-w-screen-lg grid-cols-1 gap-4 px-8 lg:grid-cols-2">
          <div></div>

          <div class="space-y-4">
            <div>
              <p class="font-bold">Networking area</p>
              <p>
                Relaxed environment where tribe members can join an existing group or start a new
                group to discuss topics of interest
              </p>
            </div>

            <div>
              <p class="font-bold">Party Zone</p>
              <p>
                Treat your special other to a night out on the town in the adults only area, or keep
                an eye out for that special someone
              </p>
            </div>

            <div>
              <p class="font-bold">Culture Zone</p>
              <p>
                Check out the NFT museum, NFT gallery, or marketplace and network with those who
                share a similar passion
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</MainLayout>
