---
import MainLayout from '../layouts/MainLayout.astro'
import Header from '../components/Header/Header.astro'
import Transition1 from '../backgrounds/Transition1.astro'
---

<MainLayout name="Meta Savages" suffix="The Web 3.0 tribe for digital entrepreneurs">
  <Header />

  <main>
    <section id="hero">
      <div>
        <h1 class="title w-full text-center font-display">Coming Soon</h1>
      </div>
    </section>

    <section class="relative min-h-screen">
      <Transition1 />
    </section>
  </main>
</MainLayout>
