---
import MainLayout from '../layouts/MainLayout.astro'
import Header from '../components/Header/Header.astro'
import MetaIsland from '../backgrounds/MetaIsland.astro'
import Transition2 from '../backgrounds/Transition2.astro'
import NFT from '../backgrounds/NFT.astro'
import Transition4 from '../backgrounds/Transition4.astro'
---

<MainLayout name="Meta Savages" suffix="The Web 3.0 tribe for digital entrepreneurs">
  <Header />

  <main>
    <section class="relative min-h-[768px] overflow-hidden lg:min-h-[1024px]">
      <MetaIsland />
    </section>

    <section class="relative overflow-hidden">
      <MetaIsland />

      <div class="relative py-8 md:py-12 lg:py-16">
        <div class="relative mb-8 sm:mb-16">
          <h1
            class="text-center font-display text-2xl font-bold text-secondary md:text-3xl lg:text-4xl"
          >
            Metasavages Metaverse
          </h1>

          <div
            class="pointer-events-none absolute top-1/2 left-1/2 z-10 w-full min-w-[320px] max-w-2xl -translate-x-1/2 -translate-y-1/2 select-none"
          >
            <div class="relative">
              <img src="/svg/metasavages-metaverse.svg" alt="" />
              <div
                class="absolute right-2.5 -bottom-0.5 font-display text-2xl font-bold sm:right-3 sm:bottom-0 sm:text-4xl md:right-4 md:bottom-0.5"
              >
                01
              </div>
            </div>
          </div>
        </div>

        <div
          class="relative mx-auto grid max-w-screen-md grid-cols-1 px-8 lg:max-w-screen-lg lg:grid-cols-2 lg:gap-8"
        >
          <div class="text-lg">
            <p class="mb-4">
              Your gateway to the future. Attend epic world-class events, collect NFT's and rewards,
              explore island's environments and be a part of the tribe. With the help of the
              revolutionary blockchain technology and the game engine power of Unity, Metasavages
              have harnessed the potential of web 3.0 which has enabled us to create a secure and
              immersive platform to create natural human interaction that could be accessed from any
              device at any time.
            </p>
            <p>
              <span class="font-bold">Framework</span>
              <br />
              Your island of adventures
              <br />
              Pioneering Learn-To-Earn NFT's
              <br />
              and Item Ownership 10
              <br />
              playable characters
            </p>
          </div>

          <div>
            <img
              class="pointer-events-none select-none lg:-mt-16"
              src="/images/plate-1.png"
              alt=""
            />
          </div>
        </div>

        <div class="relative mt-24">
          <h2
            class="text-center font-display text-2xl font-bold text-secondary md:text-3xl lg:text-4xl"
          >
            Map of Metaverse Island
          </h2>

          <div
            class="pointer-events-none absolute top-1/2 left-1/2 z-10 w-full min-w-[320px] max-w-2xl -translate-x-1/2 -translate-y-1/2 select-none"
          >
            <div class="relative">
              <img src="/svg/map-of-metaverse-island.svg" alt="" />
              <div
                class="absolute top-0 left-1.5 font-display text-2xl font-bold sm:top-1 sm:left-2 sm:text-4xl md:top-1.5 md:left-2.5"
              >
                02
              </div>
            </div>
          </div>
        </div>

        <div class="-mx-4 max-w-screen-lg px-8 lg:mx-auto">
          <img class="pointer-events-none select-none" src="/images/plate-2.png" alt="" />
        </div>

        <div
          class="mx-auto grid max-w-screen-xl grid-cols-1 gap-4 px-8 lg:grid-cols-2 lg:items-center lg:gap-8"
        >
          <div>
            <div class="grid grid-cols-3 gap-4">
              <div>
                <img class="mx-auto sm:w-40" src="/images/map-icon.png" alt="" />
              </div>

              <div>
                <img class="mx-auto sm:w-40" src="/images/map-icon.png" alt="" />
              </div>

              <div>
                <img class="mx-auto sm:w-40" src="/images/map-icon.png" alt="" />
              </div>

              <div>
                <img class="mx-auto sm:w-40" src="/images/map-icon.png" alt="" />
              </div>

              <div>
                <img class="mx-auto sm:w-40" src="/images/map-icon.png" alt="" />
              </div>

              <div>
                <img class="mx-auto sm:w-40" src="/images/map-icon.png" alt="" />
              </div>
            </div>
          </div>

          <div class="space-y-4 font-display text-lg">
            <div>
              <p class="font-bold">Networking area</p>
              <p>
                Relaxed environment where tribe members can join an existing group or start a new
                group to discuss topics of interest
              </p>
            </div>

            <div>
              <p class="font-bold">Party Zone</p>
              <p>
                Treat your special other to a night out on the town in the adults only area, or keep
                an eye out for that special someone
              </p>
            </div>

            <div>
              <p class="font-bold">Culture Zone</p>
              <p>
                Check out the NFT museum, NFT gallery, or marketplace and network with those who
                share a similar passion
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <Transition2 />

    <section class="relative min-h-screen overflow-hidden">
      <NFT />
      <div class="absolute inset-0 bg-black/50" aria-hidden="true"></div>

      <div class="relative mt-16">
        <h2
          class="text-center font-display text-2xl font-bold text-secondary md:text-3xl lg:text-4xl"
        >
          NFT Collection
        </h2>

        <div
          class="pointer-events-none absolute top-1/2 left-1/2 z-10 w-full min-w-[320px] max-w-2xl -translate-x-1/2 -translate-y-1/2 select-none"
        >
          <div class="relative">
            <img src="/svg/metasavages-metaverse.svg" alt="" />
            <div
              class="absolute right-1.5 -bottom-0.5 font-display text-2xl font-bold sm:right-2.5 sm:bottom-0 sm:text-4xl md:right-3 md:bottom-0.5"
            >
              03
            </div>
          </div>
        </div>
      </div>

      <div class="relative mx-auto max-w-screen-md px-8 pb-16">
        <p class="mt-8 text-lg font-semibold sm:mt-12 lg:text-lg">
          The Metasavages collection consist of 10000 uinugely generated characters with 1000
          variations Ofor each one of our 10 badasses. Brutus, Spike and Miku and the rest of the
          gang will serve not only as PFP but also as NFT passes to our Meta Island.
        </p>
      </div>
    </section>

    <section class="relative min-h-screen overflow-hidden">
      <Transition4 />
      <div class="absolute inset-0 bg-black/25" aria-hidden="true"></div>

      <div class="relative mt-16">
        <h2
          class="text-center font-display text-2xl font-bold text-secondary md:text-3xl lg:text-4xl"
        >
          NFT Passes
        </h2>

        <div
          class="pointer-events-none absolute top-1/2 left-1/2 z-10 w-full min-w-[320px] max-w-2xl -translate-x-1/2 -translate-y-1/2 select-none"
        >
          <div class="relative">
            <img src="/svg/map-of-metaverse-island.svg" alt="" />
            <div
              class="absolute top-0 left-1.5 font-display text-2xl font-bold sm:top-1 sm:left-2 sm:text-4xl md:top-1.5 md:left-2.5"
            >
              04
            </div>
          </div>
        </div>
      </div>

      <div class="relative mx-auto max-w-screen-md px-8 pb-16">
        <p class="mt-8 font-semibold sm:mt-12 lg:text-lg">
          Our Metalsland is open to anyone willing to dive in and develop themselves. However,
          believing in the project and being one of the 10,000 Savages will give you lifetime access
          to our entire educational platform, events, and airdrops when you own one of our NFTs. and
          Of course, for those who wish to develop further still, there will also be subscriptions
          which will enable certain perks and access to most of the amenities across our Metaverse.
          Are you ready to join the 'tribe?
        </p>
      </div>
    </section>
  </main>
</MainLayout>
