---
import Container from '../../layouts/Container.astro'
import './styles.scss'
---

<header class="absolute inset-x-0 top-0 z-50">
  <Container>
    <div class="flex items-center justify-between">
      <a href="/">
        <span class="sr-only">Meta Savages</span>
        <img class="w-24 lg:w-40 xl:w-48" src="/images/meta-savages.png" alt="Meta Savages" />
      </a>

      <nav
        class="header-nav hidden font-display font-bold md:flex md:items-center md:gap-4 lg:gap-8 lg:text-lg xl:gap-10 xl:text-xl"
        aria-label="Desktop navigation"
      >
        <a class="uppercase transition-all active" href="#">Metaverse</a>
        <a class="uppercase transition-all" href="#">NFT's</a>
        <a class="uppercase transition-all" href="#">Roadmap</a>
        <a class="uppercase transition-all" href="#">Team &amp; Partners</a>
        <a class="uppercase transition-all" href="#">Contact</a>
      </nav>
    </div>
  </Container>
</header>

<script>
  const nav = document.querySelector('[aria-label="Desktop navigation"]')
  const links = nav.querySelectorAll('a')

  links.forEach((link) => {
    link.addEventListener('click', (event) => {
      event.preventDefault()
    })
  })
</script>
