---
import clsx from 'clsx'

type Props = {
  className?: string
}

const { className } = Astro.props as Props
---

<div class={clsx('relative mx-auto max-w-screen-xl px-4 lg:px-8 xl:px-0', className)}>
  <slot />
</div>
