<div class="pointer-events-none absolute select-none" role="grid">
  <div class="grid grid-cols-3 lg:grid-cols-5" role="row">
    <div class="hidden lg:block" role="gridcell">
      <img src="/images/bg-nft/artboard-1.png" alt="" />
    </div>

    <div class="" role="gridcell">
      <img src="/images/bg-nft/artboard-2.png" alt="" />
    </div>

    <div class="" role="gridcell">
      <img src="/images/bg-nft/artboard-3.png" alt="" />
    </div>

    <div class="" role="gridcell">
      <img src="/images/bg-nft/artboard-4.png" alt="" />
    </div>

    <div class="hidden lg:block" role="gridcell">
      <img src="/images/bg-nft/artboard-5.png" alt="" />
    </div>
  </div>

  <div class="grid grid-cols-3 lg:grid-cols-5" role="row">
    <div class="hidden lg:block" role="gridcell">
      <img src="/images/bg-nft/artboard-6.png" alt="" />
    </div>

    <div class="" role="gridcell">
      <img src="/images/bg-nft/artboard-7.png" alt="" />
    </div>

    <div class="" role="gridcell">
      <img src="/images/bg-nft/artboard-8.png" alt="" />
    </div>

    <div class="" role="gridcell">
      <img src="/images/bg-nft/artboard-9.png" alt="" />
    </div>

    <div class="hidden lg:block" role="gridcell">
      <img src="/images/bg-nft/artboard-10.png" alt="" />
    </div>
  </div>

  <div class="grid grid-cols-3 lg:grid-cols-5" role="row">
    <div class="hidden lg:block" role="gridcell">
      <img src="/images/bg-nft/artboard-1.png" alt="" />
    </div>

    <div class="" role="gridcell">
      <img src="/images/bg-nft/artboard-2.png" alt="" />
    </div>

    <div class="" role="gridcell">
      <img src="/images/bg-nft/artboard-3.png" alt="" />
    </div>

    <div class="" role="gridcell">
      <img src="/images/bg-nft/artboard-4.png" alt="" />
    </div>

    <div class="hidden lg:block" role="gridcell">
      <img src="/images/bg-nft/artboard-5.png" alt="" />
    </div>
  </div>

  <div class="grid grid-cols-3 lg:grid-cols-5" role="row">
    <div class="hidden lg:block" role="gridcell">
      <img src="/images/bg-nft/artboard-6.png" alt="" />
    </div>

    <div class="" role="gridcell">
      <img src="/images/bg-nft/artboard-7.png" alt="" />
    </div>

    <div class="" role="gridcell">
      <img src="/images/bg-nft/artboard-8.png" alt="" />
    </div>

    <div class="" role="gridcell">
      <img src="/images/bg-nft/artboard-9.png" alt="" />
    </div>

    <div class="hidden lg:block" role="gridcell">
      <img src="/images/bg-nft/artboard-10.png" alt="" />
    </div>
  </div>
</div>
