<div class="pointer-events-none absolute select-none" role="grid">
  <div class="grid grid-cols-3 lg:grid-cols-5" role="row">
    <div class="hidden lg:block" role="gridcell">
      <img src="/images/bg-transition-3/artboard-1.png" alt="" />
    </div>

    <div class="" role="gridcell">
      <img src="/images/bg-transition-3/artboard-2.png" alt="" />
    </div>

    <div class="" role="gridcell">
      <img src="/images/bg-transition-3/artboard-3.png" alt="" />
    </div>

    <div class="" role="gridcell">
      <img src="/images/bg-transition-3/artboard-4.png" alt="" />
    </div>

    <div class="hidden lg:block" role="gridcell">
      <img src="/images/bg-transition-3/artboard-5.png" alt="" />
    </div>
  </div>
</div>
