<div class="absolute select-none pointer-events-none" role="grid">
  <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-5" role="row">
    <div role="gridcell">
      <img src="/images/bg-transition-2/artboard-1.png" alt="" />
    </div>

    <div role="gridcell">
      <img src="/images/bg-transition-2/artboard-2.png" alt="" />
    </div>

    <div class="hidden md:block" role="gridcell">
      <img src="/images/bg-transition-2/artboard-3.png" alt="" />
    </div>

    <div class="hidden md:block" role="gridcell">
      <img src="/images/bg-transition-2/artboard-4.png" alt="" />
    </div>

    <div class="hidden lg:block" role="gridcell">
      <img src="/images/bg-transition-2/artboard-5.png" alt="" />
    </div>
  </div>
</div>
