---
import '../styles/main.scss'

type Props = {
  name: string
  suffix?: string
}

const { name, suffix } = Astro.props as Props
const title = name + (suffix ? ` - ${suffix}` : '')
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>

  <body class="cursor-default antialiased">
    <slot />
  </body>
</html>
