---
import { Seo } from 'astro-seo-meta'
import '../styles/main.scss'

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <Seo
      description="The Web 3.0 tribe for digital entrepreneurs."
      keywords={['nft', 'meta savages']}
      icon="/"
      themeColor="#000"
      colorScheme="dark"
      facebook={{
        image: '/',
        url: '/',
        type: 'website',
      }}
      twitter={{
        image: '',
        site: '@metasavagesnft',
        card: 'summary',
      }}
    />
    <slot name="seo" />
  </head>

  <body class="cursor-default antialiased">
    <slot />
  </body>
</html>
